
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/0/5098ec9ad6fb00181776f8e353f2907f
.metadata/.plugins/org.eclipse.core.resources/.history/11/f06f2d36a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/1e/00cf099ca0fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/1f/200cfd3bd7fb001817baaadebe79f4c6
.metadata/.plugins/org.eclipse.core.resources/.history/2d/d0500c47d7fb001817baaadebe79f4c6
.metadata/.plugins/org.eclipse.core.resources/.history/35/609cf9b0a0fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/38/20a11ffda0fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/41/c005197ba7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/44/a0416735d7fb001817baaadebe79f4c6
.metadata/.plugins/org.eclipse.core.resources/.history/4f/505fcd3dd7fb001817baaadebe79f4c6
.metadata/.plugins/org.eclipse.core.resources/.history/54/f097fe96a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/56/e0f53e9aa7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/59/00771d7fa7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/5a/d01020c7a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/61/20ae9929a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/6d/a095a7abd6fb00181776f8e353f2907f
.metadata/.plugins/org.eclipse.core.resources/.history/7/00ac8370a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/74/30bcc544d7fb001817baaadebe79f4c6
.metadata/.plugins/org.eclipse.core.resources/.history/77/80e076aaa7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/78/00a9fc90a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/85/00a366bea7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/90/c0fdd363a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/95/8079ec73a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/96/f0e3ff9ba0fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/9c/c07ad88ca7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/a1/a0a3705fa7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/a9/40836239a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/b/202d92caa7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/bd/30e381b2d6fb00181776f8e353f2907f
.metadata/.plugins/org.eclipse.core.resources/.history/de/f08ba029a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.history/ee/a0fb81b4a7fa00181994e1dc5c5cb1cb
.metadata/.plugins/org.eclipse.core.resources/.projects/MathConsumer/.indexes/e4/e4/5/5e/98/fe/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MathConsumer/.indexes/f9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MathConsumer/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MathConsumer/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/MathConsumer/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/MathConsumer/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/MathConsumer/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/MathConsumer/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/MathService/.indexes/e4/e4/5/5e/98/53/20/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MathService/.indexes/e4/e4/5/5e/98/53/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MathService/.indexes/e4/e4/5/5e/98/b1/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MathService/.indexes/e4/e4/5/5e/98/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MathService/.indexes/f9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MathService/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/MathService/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/MathService/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/MathService/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/2.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/MathConsumerRun.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1056031855.index
.metadata/.plugins/org.eclipse.jdt.core/134360950.index
.metadata/.plugins/org.eclipse.jdt.core/1472510888.index
.metadata/.plugins/org.eclipse.jdt.core/1654674800.index
.metadata/.plugins/org.eclipse.jdt.core/1686655237.index
.metadata/.plugins/org.eclipse.jdt.core/189530877.index
.metadata/.plugins/org.eclipse.jdt.core/1924480154.index
.metadata/.plugins/org.eclipse.jdt.core/197789008.index
.metadata/.plugins/org.eclipse.jdt.core/2075892729.index
.metadata/.plugins/org.eclipse.jdt.core/2085666723.index
.metadata/.plugins/org.eclipse.jdt.core/2133986416.index
.metadata/.plugins/org.eclipse.jdt.core/2725125150.index
.metadata/.plugins/org.eclipse.jdt.core/2750453295.index
.metadata/.plugins/org.eclipse.jdt.core/2816613229.index
.metadata/.plugins/org.eclipse.jdt.core/3145607036.index
.metadata/.plugins/org.eclipse.jdt.core/3449055620.index
.metadata/.plugins/org.eclipse.jdt.core/3608585563.index
.metadata/.plugins/org.eclipse.jdt.core/3627084181.index
.metadata/.plugins/org.eclipse.jdt.core/3652102633.index
.metadata/.plugins/org.eclipse.jdt.core/3697041628.index
.metadata/.plugins/org.eclipse.jdt.core/3982276604.index
.metadata/.plugins/org.eclipse.jdt.core/4005617011.index
.metadata/.plugins/org.eclipse.jdt.core/4062329064.index
.metadata/.plugins/org.eclipse.jdt.core/512731992.index
.metadata/.plugins/org.eclipse.jdt.core/543409727.index
.metadata/.plugins/org.eclipse.jdt.core/545118660.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2018/12/49/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2018/12/49/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/MathConsumer/2018/12/49/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/MathConsumer/2018/12/49/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/MathService/2018/12/49/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/MathService/2018/12/49/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.fileTableLock
.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.tmp4232304456181792443.instance
.metadata/.plugins/org.eclipse.pde.core/.local_targets/1544242720509.target
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/config.ini
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/dev.properties
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.core.runtime/.manager/.fileTableLock
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.core.runtime/.manager/.tmp591991076183783181.instance
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.equinox.app/.manager/.fileTableLock
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.equinox.app/.manager/.tmp2325389350284019214.instance
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.equinox.app/.manager/.tmp267606157358002395.instance
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.equinox.app/.manager/.tmp3293308258281349741.instance
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.equinox.app/.manager/.tmp5932991878784285740.instance
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.equinox.app/.manager/.tmp6727103939471516810.instance
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.equinox.app/.manager/.tmp7617359478779249372.instance
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.equinox.app/.manager/.tmp8074149602422279264.instance
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.osgi/.manager/.fileTable.5
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.osgi/.manager/.fileTable.6
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.osgi/.manager/.fileTableLock
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.osgi/35/0/.cp/os/win32/x86_64/localfile_1_0_0.dll
.metadata/.plugins/org.eclipse.pde.core/MathConsumerRun/org.eclipse.osgi/framework.info.5
.metadata/.plugins/org.eclipse.pde.core/SavedExternalPluginList.txt
.metadata/.plugins/org.eclipse.pde.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.khoand_0/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.khoand_0/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.khoand_0/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
